FlowFormatPhonetoUS/flows/FormatPhoneFlow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>formatPhone</name>
        <label>formatPhone</label>
        <locationX>274</locationX>
        <locationY>69</locationY>
        <apexClass>formatPhoneFlowPlugin</apexClass>
        <connector>
            <targetReference>createAccount</targetReference>
        </connector>
        <inputParameters>
            <name>UnFormattedPhone</name>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>testvar</assignToReference>
            <name>FormattedPhone</name>
        </outputParameters>
    </apexPluginCalls>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
    </choices>
    <dynamicChoiceSets>
        <name>getAccounts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Acme</stringValue>
            </value>
        </filters>
        <object>Account</object>
    </dynamicChoiceSets>
    <formulas>
        <name>getHours</name>
        <expression>VALUE(MID( {!testvar},12,2))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>getMinutes</name>
        <expression>VALUE(MID( {!testvar}, 15,2))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>getSeconds</name>
        <expression>VALUE(MID( {!testvar}, 18,2))</expression>
        <scale>0</scale>
    </formulas>
    <label>FormatPhoneFlow</label>
    <recordCreates>
        <name>createAccount</name>
        <label>createAccount</label>
        <locationX>466</locationX>
        <locationY>73</locationY>
        <assignRecordIdToReference>vaId</assignRecordIdToReference>
        <connector>
            <targetReference>show_acct</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>testvar</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <screens>
        <name>Get_Act_Info</name>
        <label>Get Act Info</label>
        <locationX>110</locationX>
        <locationY>64</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>formatPhone</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>show_acct</name>
        <label>show acct</label>
        <locationX>463</locationX>
        <locationY>184</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>details</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;account: &lt;A HREF=&quot;/{!vaId}&quot; TARGET=&quot;_blank&quot;&gt;{!Name}&lt;/A&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Get_Act_Info</startElementReference>
    <variables>
        <name>testvar</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Def</stringValue>
        </value>
    </variables>
    <variables>
        <name>vaDate</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaDate1</name>
        <dataType>Date</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaId</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaRTF</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
